body{
    background-color: rgb(129, 182, 117);


background: url("../img/pexels-quang-nguyen-vinh-2131801.jpg");
background-size: cover;
text-align: center;

}
 
h2{
   font-size: 50px;
   color:aqua;

}

button{
    padding: 15px 40px;
    font-size: 22px;
    background: transparent;
    border: 3px solid #ffff;
    color:black;
    cursor:pointer;
    transition: .5s;
    margin: 20px;

}

button:hover{
    border: 3px solid #00ff62;
    color:#00ff62;
    border-radius: 30px;
}
